<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <title>Show Edit</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-between align-items-start mb-3">
            <h1 class="col">Edit {{show_to_edit.name }} </h1>
            <a href="/shows" class="col text-end">Go Back</a>
        </div>
        {% if messages %}
            <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
            </ul>
        {% endif %}
        <form action="/shows/{{ show_to_edit.id }}/update" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="show_name_input">Title</label>
                <input type="text" name="show_name_input" id="show_name_input" value={{ show_to_edit.name }}>
            </div>
            <div class="row mb-3">
                <div class="col row">
                    <label for="network_select">Network</label>
                    <select name="network_select" id="network_select">
                        {% for network in all_networks %}
                        <option value={{ network.id }} {% if network.id == show_to_edit.network.id %}selected{% endif %}>{{ network.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col row">
                    <label for="show_date_input">Date</label>
                    <input type="date" name="show_date_input" id="show_date_input" value={{ show_to_edit.release_date|date:"Y-m-d" }}>
                </div>
            </div>
            <div class="row mb-3">
                <label for="show_description">Description</label>
                <textarea name="show_description" id="show_description">{{ show_to_edit.description }}</textarea>
            </div>
            <div class="row mb-3 justify-content-center">
                <button type="submit" class="col-md-auto">Edit</button>
                
            </div>
            <div class="row justify-content-center"></div>
                <div class="col-md-auto">
                    <a href="/shows/{{ show_to_edit.id }}" >Go to Show</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>