*{
    padding:0px;
    margin:0px;
}
.black_border{
    border-style: solid;
    border-width: 2px;
    border-color:black
}
.container{
    display:flex;
    flex-direction:column;
    padding:50px;
}
    .header{
        display:flex;
        margin-bottom:20px;
        align-items: center;
    }
        .goldbox{
            margin-left: 10px;
            padding: 3px;

        }
    .activities_band{
        display:flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
        .activity{
            display:flex;
            flex-direction: column;
            justify-content:space-around;
            align-items:center;
            text-align: center;
            width:200px;
            height:200px;
        }
    .log_band ul{
        display:flex;
        flex-direction: column-reverse;
        min-height: 200px;
        max-height: 200px;
        overflow-y:scroll;
    }
