*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-weight: bolder;
}

.container{
    margin:15px;
    display:flex;
    justify-content: space-between;
}
    .title_row h1{
        display:flex;
        justify-content: space-between;
    }
    .title_row h1 a{
        text-decoration: none;
    }
    .col{
        margin-right:50px;
        margin-left:50px;
        display:flex;
        flex-direction:column;
        width:50%;
        margin:auto;
        padding:20px;
    }
        .col h1{
            text-align:center;
        }
        .col form{
            display:flex;
            flex-direction: column
        }
            .col form div{
                display:flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                margin: 10px;
            }
            .col form textarea{
                width:100%;
                margin:auto;
            }
            .submit_new{
                margin: 10px 0px;
                width:100%;
            }
            thead{
                background-color: grey;
            }
            td{
                text-align: center;
            }
            tr:nth-child(even) {
                background-color: #f2f2f2;
              }
            #description_box_label{
                margin-top:10px;
                margin-left:10px;
            }
                #add_attribute{
                    display:flex;
                    flex-direction: row;
                    margin: 10px 0px;
                }
                #add_attribute select{
                    min-width:150px;
                    width:60%
                }
                #add_attribute button{
                    min-width:50px;
                    margin-left: 10px;
                }
            p span{
                font-weight: bolder;
            }
    
    ul{
        display:flex;
        flex-direction: column;
        margin-left: 20px;
        list-style: none;
    }
        ul li{
            display:flex;
            justify-content: space-between;
            width:70%
        }