*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height:100%;
}
.container h1, .container p, .container form{
    text-align: center;
    margin: 5px;
}
#number_box{
    width: 30px;
}